<footer class="bg-pink text-pearl p-4 w-100">
    <div class="row">
        <div class="col-12 text-center">
            <small>&copy; 2019 Valentina Panetta. All Rights Reserved.</small>
        </div>
    </div>
</footer>