<footer class="bg-pearl text-ultra">
    <div class="container pt-3">
        <div class="row row-pb-md">
            <div class="col-12 text-center">
                <small>&copy; 2019 Valentina Panetta. All Rights Reserved.</small>
            </div>
        </div>
    </div>
</footer>